/*  Monitors will be a parent flexbox that encloses multiple monitors */
.Monitors {
  background-color: rgba(103,110,111,1);
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 100%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
}
